@model FruitStore6.Areas.Administrador.Models.IndexProductosViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_LayoutAdmin";
}

<h1>Administrar Productos</h1>

<section class="listado">
    <form method="post" action="~/Administrador/Productos/Index">
        <select onchange="this.form.submit()" asp-for="IdCategoria" asp-items="@(new SelectList(Model.Categorias,"Id","Nombre"))">
            <option selected="selected" value="">Ver todos los productos</option>
        </select>
    </form>

    <a id="lnkNueva" class="mark" href="~/Administrador/Productos/Agregar">
        <h1>Nuevo Producto...</h1>
        <h2></h2>
        <h2></h2>
        <h2></h2>
        <div class="image">
            <img src="~/images/addb.png" />
        </div>
        <h2></h2>
        <h2></h2>
        <div class="botones">
            <img src="~/images/add.png" />
        </div>
    </a>

    @if (Model.Productos != null)
    {
        @foreach (var item in Model.Productos)
        {
            <div class="card">
                <h1>@item.Nombre</h1>
                <h2>Tipo: @item.IdCategoriaNavigation?.Nombre</h2>
                <h2>Unidad de Medida: @item.UnidadMedida</h2>
                <h2>Precio: $ @(item.Precio.Value.ToString("c"))</h2>

                <h2 title="@item.Descripcion">@(item.Descripcion)...</h2>
                <div class="image">
                    <img src="~/img_frutas/@(item.Id).jpg" />
                </div>
                <div class="botones">
                    <a href="~/Administrador/Productos/Editar/@item.Id" class="btnEditar"></a>
                    <a href="~/Administrador/Productos/Eliminar/@item.Id" class="btnBorrar"></a>
                </div>
            </div>
        }

    }

</section>